body {
    margin: 0;
    background-color: #f2f2f2;
}


.holder {
    display: flex;
    justify-content: space-between;  
    flex-wrap: wrap;                 
    padding: 20px;
}


.item {
    width: 120px;
    height: 120px;
    font-size: 40px;
    color: black;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;
}


.green {
    background-color: green;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}